body {
    background: whitesmoke;
    /*background: #F5FAFF;*/
}

.mastheadcustom {
    margin-top: -16px;
    padding-top: 100px;
    padding-bottom: 100px;
    background: -webkit-linear-gradient(top, rgba(191,192,192,0.7) 0%,rgba(122,108,93,0.7) 44%,rgba(197,201,164,0.7) 100%), url("../img/reading_banner.jpg"); /* Chrome10-25,Safari5.1-6 */
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
    -webkit-box-shadow: inset 0px -15px 37px -1px rgba(0,0,0,0.75);
    -moz-box-shadow: inset 0px -15px 37px -1px rgba(0,0,0,0.75);
    box-shadow: inset 0px -15px 37px -1px rgba(0,0,0,0.75);
}

.navbar {
    -webkit-box-shadow: 1px 4px 29px 1px rgba(0,0,0,0.77);
    -moz-box-shadow: 1px 4px 29px 1px rgba(0,0,0,0.77);
    box-shadow: 1px 4px 29px 1px rgba(0,0,0,0.77);
}

.page-section {
    padding: 50px 0 50px 0;
}

.active-cyan-2 input[type=text]:focus:not([readonly]) {
    border-bottom: 1px solid #4dd0e1;
    box-shadow: 0 1px 0 0 #4dd0e1;
}

.input-error {
    color: red;
}

.userThumbnail {
    position: relative;
    width: 50px;
    height: 50px;
}

.text-shadows {
    text-shadow: 5px 5px gray;
}

.spaceBreaker {
    height: 50px;
}

.ashGrey {
    background-color: #B0B5B3;
}

.clickable {
    cursor: pointer;
}