<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:include="includes/default :: headFrag">...</head>
<body>

    <div th:include="includes/default :: navHeader">...</div>

    <div class="spaceBreaker"></div>

    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">Page d'accueil</a></li>
            <li class="breadcrumb-item"><a href="/books">Liste de livres</a></li>
            <li class="breadcrumb-item active" aria-current="page" th:text="${book.title}"></li>
        </ol>
    </nav>

<div class="container">
    <section>
        <div th:object="${book}">
            <div class="row">
                <div class="col-md-6">
                    <img th:src="${'http://localhost:8081/img/book/' + book.id + '.jpg'}" onerror="this.src='../img/no_image_found.jpg'" width="400" height="550" class="shadow">
                </div>
                <div class="col-md-6">
                    <h2 th:text="*{title}"></h2>

                    <p>Auteur: <span th:text="*{author.name + ' ' + author.surname}"></span></p>

                    <p>Date de parution: <span th:text="*{releaseDate}"></span></p>

                    <p>Publié par: <span th:text="*{publisher.name}"></span></p>

                    <p>
                        Synopsis:<br>
                        <span th:text="${book.description}"></span>
                    </p>
                </div>
            </div>
        </div>
    </section>

    <div class="spaceBreaker"></div>

    <section>
        <h3>Disponibilité:</h3>

        <table class="table table-striped table-hover shadow">
            <thead class="thead-dark">
            <tr>
                <th scope="col">Bibliothèque</th>
                <th scope="col">Exemplaires</th>
                <th scope="col">Disponible</th>
            </tr>
            </thead>
            <tbody>
                <tr th:each="library : ${copyList}">
                    <th scope="row" th:text="${library.name}"></th>
                    <td th:text="${library.copyCount}"></td>
                    <td th:text="${library.availableCount}">
                </tr>
            </tbody>
        </table>
    </section>
</div>

<th:block th:include="includes/default :: jsFrag">...</th:block>

</body>
</html>
