<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:include="includes/default :: headFrag">...</head>
<body>

<head th:include="includes/default :: navHeader">...</head>

<div class="spaceBreaker"></div>
<div class="spaceBreaker"></div>
<div class="container">
    <section>
        <div>
            <h2 th:text="${statusCode}"></h2>
            <p th:if="${statusCode == 404}">La ressource que vous cherchez n'existe pas ou n'est pas disponible</p>
            <p th:if="${statusCode == 403}">Vous n'avez pas d'accès à la ressource demandée</p>
            <p th:if="${statusCode == 500}">Une erreur s'est produite</p>
        </div>
    </section>
</div>

<th:block th:include="includes/default :: jsFrag">...</th:block>

</body>
</html>
