<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:include="includes/default :: headFrag">...</head>
<body>
    <div th:include="includes/default :: navHeader">...</div>
    <div class="spaceBreaker"></div>

    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item" aria-current="page"><a href="/">Page d'accueil</a></li>
            <li class="breadcrumb-item active" aria-current="page">Liste des bibliothèques</li>
        </ol>
    </nav>

    <div class="container">
        <div class="row">
            <h3>Nos bibliothèques</h3>
        </div>
        <hr>
        <th:block th:each="library : ${libraryList}">
            <div class="row">
                <div class="card col-md-4">
                    <img th:src="${'http://localhost:8082/img/library/' + library.name + '.jpg'}" width="100%" height="200" class="card-img-top" th:alt="${library.name} + ' image'">
                    <div class="card-body">
                        <h5 class="card-title text-center" th:text="${library.name}"></h5>
                        <hr>
                        <div class="card-text">
                            <h5>Adresse:</h5>
                            <p>
                                <span th:text="${library.address.street}"></span>
                                <br>
                                <span th:text="${library.address.city + ' - ' + library.address.postalCode}"></span>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-8">
                    <table class="table">
                        <thead class="thead-dark">
                        <tr>
                            <th scope="col">&nbsp;</th>
                            <th scope="col">Ouverture</th>
                            <th scope="col">Fermeture</th>
                        </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th scope="row">Lundi</th>
                                <td th:text="${library.librarySchedule.mondayOpen}"></td>
                                <td th:text="${library.librarySchedule.mondayClose}"></td>
                            </tr>
                            <tr>
                                <th scope="row">Mardi</th>
                                <td th:text="${library.librarySchedule.tuesdayOpen}"></td>
                                <td th:text="${library.librarySchedule.tuesdayClose}"></td>
                            </tr>
                            <tr>
                                <th scope="row">Mercredi</th>
                                <td th:text="${library.librarySchedule.wednesdayOpen}"></td>
                                <td th:text="${library.librarySchedule.wednesdayClose}"></td>
                            </tr>
                            <tr>
                                <th scope="row">Jeudi</th>
                                <td th:text="${library.librarySchedule.thursdayOpen}"></td>
                                <td th:text="${library.librarySchedule.thursdayClose}"></td>
                            </tr>
                            <tr>
                                <th scope="row">Vendredi</th>
                                <td th:text="${library.librarySchedule.fridayOpen}"></td>
                                <td th:text="${library.librarySchedule.fridayClose}"></td>
                            </tr>
                            <tr>
                                <th scope="row">Samedi</th>
                                <td th:text="${library.librarySchedule.saturdayOpen}"></td>
                                <td th:text="${library.librarySchedule.saturdayClose}"></td>
                            </tr>
                            <tr>
                                <th scope="row">Dimanche</th>
                                <td th:text="${library.librarySchedule.sundayOpen}"></td>
                                <td th:text="${library.librarySchedule.sundayClose}"></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="spaceBreaker"></div>
        </th:block>
    </div>

    <th:block th:include="includes/default :: jsFrag">...</th:block>

</body>
</html>
