<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:include="includes/default :: headFrag">...</head>

<head th:include="includes/default :: navHeader">...</head>

    <div class="spaceBreaker"></div>

    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item" aria-current="page">Page d'accueil</li>
            <li class="breadcrumb-item active" aria-current="page">S'identifier</li>
        </ol>
    </nav>

<div class="container">
    <section>
        <div class="col-md-6 align-items-center text-center mx-auto">
            <p>Merci <span th:text="${username}"></span>.</p>
            <p>Votre compte a été activé.</p>
        </div>
    </section>
</div>

<th:block th:include="includes/default :: jsFrag">...</th:block>

</body>
</html>
